:root {
	--light-color: hsl(41, 17%, 95%);
	--medium-color: hsla(41, 25%, 25%, 0.6);
	--dark-color: hsla(42, 72%, 7%, 0.8);
	--yellow-background-color: hsla(39, 77%, 83%, 0.5);
	--yellow-paper-color: hsl(39, 77%, 83%);
	--border-radius: 1em;
	--border-radius-label: .3em;
  --box-shadow: -1px 1px 10px var(--medium-color);
	--transparent-background:  hsla(0, 0%, 0%, 0.242);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.1rem;
	color: var(--dark-color);
	width: 100vw;
	background: var(--yellow-background-color);
	white-space: normal;
}

h1 {
	padding: 1em 1.2em;
	font-size: 2rem;
	text-align: center;
}


#main-button {
	position: fixed;
	right: 0;
	border: 0;
	padding: 0.25em 0.5em;
  margin: .3em;
	background: var(--transparent-background);
	font-size: 2em;
	color: var(--dark-color);
	cursor: pointer;
  border-radius: 100%;
  z-index: 100;
}

/* Category Filter */
.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
	gap: .3em;
	padding-top: 2em;
}

.category-title {
  width: 6em;
  padding: .3rem 0;
  margin: .2rem;
  border: 0;
  border-radius: var(--border-radius-label);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--yellow-paper-color);
  font-size: .9rem;
	text-align: center;
}

/* Category Colors */
.all {
	background-color: hsl(0, 11%, 41%);
}
.coding {
  background-color: hsl(193, 89%, 52%);
}
.business {
    background-color: hsla(232, 100%, 50%, 0.8);
}
.self-growth {
	background-color: hsl(38, 94%, 58%);
}
.history {
  background-color: hsla(339, 90%, 53%, 0.6);
}
.science {
	background-color:hsl(336, 84%, 48%);
}
.health {
  background-color: hsl(147, 72%, 35%);
}
.fiction {
	background-color: hsla(289, 63%, 52%, 0.8);
}
.no-category {
	background-color: hsl(0, 0%, 45%);
}

/* Books */
#books-panel {
	padding-top: 4em;
	height: fit-content;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* Book Cards */
.book-card {
	position: relative;
	width: 240px;
	padding: 1em;
	margin: 1em;
	background-color: var(--light-color);
	box-shadow: -1px 1px 10px;
	display: grid;
	gap: 1em;
  text-transform: capitalize;
}

fieldset {
	position: relative;
	right: 16px;
	bottom: -16px;
	border-top-right-radius: var(--border-radius-label);
	width: fit-content;
	align-self: end;
	border: none;
	box-shadow: 0.2px -0.2px 5px var(--medium-color);
  color: var(--light-color);
  padding: .4em;
}

.hide {
	display: none;
}

.deleteBtn {
	position: absolute;
	right: -13px;
	bottom: -13px;
	padding: 1.2rem;
	border-radius: 50%;
	border: 1px solid red;
	background-image: url(assets/delete-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	z-index: 100;
}

.deleteBtn:hover {
	filter: invert(100%);
}
/* Popup Overlay - Dialog */
dialog {
	height: fit-content;
	margin: 5em auto;
	max-width: 95%;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1em;
	border-radius: var(--border-radius);
	box-shadow: 1px 1px 5px;
	animation: dialog 0.8s ease-in-out;
}

@keyframes dialog {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}
dialog select {
	margin-bottom: 4em;
	background-color: rgba(212, 232, 233, 0.874);
	color: var(--medium-color);
	font-weight: 600;
	font-size: 1.2rem;
	float: right;
	outline: 0;
  border-radius: 0.3rem;
}

dialog label {
	text-align: right;
	padding: 0.2em;
	display: block;
	color: var(--light-color);
}

.information {
	width: 100%;
	line-height: 1.5em;
	display: grid;
}

.information input {
	height: 2.5em;
	margin-bottom: 2em;
	border-radius: 0.3em;
	border: none;
	padding: 1em;
}
.information label {
	color: var(--light-color);
	font-size: 1.1em;
}

.information input:focus {
	filter: invert();
	outline: none;
}

.buttons button{
	border-radius: var(--border-radius);
	padding: 0.5em;
	margin: 1.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	border-radius: 1em;
	cursor: pointer;
	margin-inline: 42%;

}
#save-btn {
	background: var(--light-color);
	color: var(--dark-color);
}
#save-btn:hover {
	filter: invert();
}
#close-btn {
	background: transparent;
	color: var(--dark-color);
	font-size: 3em;
	margin: 1rem auto 0;
	padding: 0;
	width: 100%;
}
#close-btn:hover {
	color: crimson;

}

.message {
	text-align: center;
	margin-top: 5rem;
	padding: 2rem;
	background: var(--transparent-background);
	display: none;
}

@media screen and (min-width: 768px) {
	.category-title {
		font-size: 1rem;
	}
	dialog {
		width: 30%;
	}
}